
@model ProductViewModel

    <div class="artWrap">
        @Model.Title
        <br />
        <img src="~/images/@Model.Image" alt="product image" />
        <br />
        @Model.Description
        <br />
        @Model.Technique
        <br />
        @Model.Price

    </div>


