
@model ProductViewModel

<h2>art</h2>
    <div class="itemWrap">
        @Model.Title
        <br />
        <img src="~/images/@Model.Image" alt="product image" />
        <br />
        @Model.Description
        <br />
        @Model.Technique
        <br />
        @Model.Price

    </div>


