@model List<ArtShop.Models.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>Hello, testing that things work.</p>

@foreach (var painting in Model)
{
    Html.RenderPartial("art", painting);

}



