@model List<ArtShop.Project.Core.Models.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Art</h2>
<div class="artContainer">

    @foreach (var painting in Model)
    {
        Html.RenderPartial("art", painting);
    }
</div>



