@model CartViewModel

<div class="cartWrap">
    
    <img class="cartImage" src="~/images/@Model.Image" alt="product image" />
    <p class="padding"> Item name: @Model.Title</p>
    <br />
    <p class="padding"> Price: @Model.Price </p>
    <br />
</div>