@model CartViewModel

<img class="cartImage" src="~/images/@Model.Image" alt="product image" />
<div>
    <p class="padding"> Item name: @Model.Title</p>

    <p class="padding"> Price: @Model.Price</p>
    <br />
</div>

