@model List<ArtShop.Project.Core.Models.CartViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>My shopping cart</h2>
<div class="table-responsive">

    <table class="table table-striped">

        @foreach (var product in Model)
        {
            Html.RenderPartial("Cart", product);
        }

    </table>
</div>