@model List<ArtShop.Models.CartViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>My shopping cart</h2>
<p>Purchased items show up here.</p>

@foreach (var item in Model)
{
    Html.RenderPartial("Cart", item);
}

